<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Moffat Bay Guest Sign In</title>
  	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Yellowtail&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="{{ url_for('static', filename='signin_styles.css') }}">
</head>
<body>

<header class="menubar">
  	<nav>
    	<ul>
      		<li><a href="{{ url_for('home') }}">HOME</a></li>
      		<li><a href="#">ABOUT US</a></li>
      		<li><a href="#">ATTRACTIONS</a></li>
      		<li><a href="{{ url_for('home') }}">RESERVATIONS</a></li>
      		<li class="right"><a href="{{ url_for('login') }}">MY ACCOUNT</a></li>
    	</ul>
  	</nav>
</header>

<header class="page-header">
	Moffat Bay Guest Sign In
</header>

<section class="form-section">

	<div class="form-col create-account">
    	<h2>Create Account</h2>
    	<form method="POST" action="{{ url_for('register') }}">
      		<input type="text" name="first_name" placeholder="First Name" required>
      		<input type="text" name="last_name" placeholder="Last Name" required>
      		<input type="tel" name="phone" placeholder="Phone Number" required>
      		<input type="email" name="email" placeholder="Email Address" required>
      		<input type="password" name="password" placeholder="Password" required>
      		<button type="submit" class="form-button">Create Account</button>
    	</form>
  	</div>

  <!-- Sign In -->
    <div class="form-col sign-in">
    	<h2>Sign In</h2>
    	<form method="POST" action="{{ url_for('login') }}">
      		<input type="email" name="email" placeholder="Email Address" required>
      		<input type="password" name="password" placeholder="Password" required>
      		<button type="submit" class="form-button">Sign In</button>
    	</form>
  		</div>

</section>

<footer class="footer">
  <p>&copy; 2025 Moffat Bay Lodge. All Rights Reserved.</p>
</footer>

</body>
</html>
