<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Attractions - Moffat Bay Lodge</title>
  		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Yellowtail&display=swap" rel="stylesheet">
  		<link rel="stylesheet" href="{{ url_for('static', filename='attractions_styles.css') }}">
</head>
<body>

	<nav class="navbar">
  		<ul>
    		 <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT US</a></li>
            <li class="active"><a href="{{ url_for('res.reservations') }}">RESERVATIONS</a></li>
            <li class="right">
                <!-- My Account dropdown -->
			  <li class="dropdown right">
				<a href="javascript:void(0)" class="dropbtn">My Account</a>
				<div class="dropdown-content">
					<a href="{{ url_for('auth.login_get') }}">Login</a>
					<a href="{{ url_for('res.lookup') }}">Lookup</a>
			    </div>
			   </li>

			    <a href="{{ url_for('auth.logout') }}">Logout</a>
			</li>
  		</ul>
	</nav>


	<header class="header-ribbon">
		<h1>Attractions</h1>
	</header>

	<main> 
		<section class="attractions-list">
			<article>
  				<div class="text-content">
    				<h3>Kayaking Tours</h3>
    				<p>Moffat Bay Lodge offers kayak rentals and guided tours that explore 
    				the natural wonders of Moffat Bay's shoreline. Kayak guided tours are available 
    				for all levels of expertise and fitness levels. Whether you’re a beginner or an experienced kayaker, our expert 
    				guides will tailor the perfect experience. Along the way, you can spot local wildlife, including dolphins, pelicans, and seals. 
    				Tours also provide opportunities to learn about Moffat Bay's best-kept secrets, making it a perfect combination of adventure and serenity.
    				Reservations for rentals and tours can be made at the front desk or by phone. </p>
  				</div>
				<img src="{{ url_for('static', filename='images/kayaking.jpg') }}" alt="Kayaking Tours">
  				
			</article>

			<article>
  				<div class="text-content">
    				<h3>Hiking Trails</h3>
    				<p>Immerse yourself in the quiet beauty of Moffat Bay's wilderness with our 25 miles of hiking trails. Our hiking trails range from
    				.5 to 7 miles, and in difficulty from easy to challenging. Along our trails, you can find incredible sights and stops, like a natural 
    				hotspring, a luscious waterfall, and a stunning cave system with fossilized walls. Trail maps can be found at our front desk, and guided
    				cave tours are available daily at 1 p.m. 
    				</p>
  				</div>
				<img src="{{ url_for('static', filename='images/hiking.jpg') }}" alt="Hiking Trails">
  			
			</article>

			<article>
  				<div class="text-content">
    				<h3>Whale Watching</h3>
    				<p>Moffat Bay Lodge has been a proud partner of Hendrickson Whale Watching 
    				for over 50 years, offering seasonal tours from May to October. Guests can experience 
    				an unforgettable glimpse of ocean life, spotting not only whales but also dolphins, seals, and even sharks. 
    				Tours run Thursday through Monday, starting at 10 a.m., and we recommend booking at least one week in advance as spots fill quickly. 
    				For pricing and reservations, please visit our front desk or give us a call. </p>
  				</div>
				<img src="{{ url_for('static', filename='images/whale_watching.jpg') }}" alt="Whale Watching">
  				
			</article>

			<article>
  				<div class="text-content">
    				<h3>Scuba Diving</h3>
    				<p>Whether you’re a beginner or an experienced diver, Moffat Bay’s scuba diving excursions are designed for all skill levels. 
    				Our team of certified trainers and guides provides expert instruction, support, and safety oversight for every guest. 
    				Beneath the waves, Moffat Bay reveals stunning natural reefs, vibrant coral, and a rich diversity of marine life.
    				 Safety is our top priority—guests who are not already certified receive a complimentary diving course and competency test before their first dive.
    				 Our diving team leads dives from June to September, seven days a week. Reservations can be made by phone are at the front desk. </p>
  				</div>
				<img src="{{ url_for('static', filename='images/scuba_diving.jpg') }}" alt="Scuba Diving">
  			
			</article>
  		</section>
	</main>

	<footer>
		<p>&copy; 2025 Moffat Bay Lodge</p>
  	</footer>
</body>
</html>

